
<%-  include("partials/header");   %>


<div class="home__news">
    <div class="home__news-mid tabNews__mid">
        <p class="home__tab"><%=  item.tabName   %></p>
        <h2 class="home__title"><%=  item.title   %></h2>
        <p class="home__news-text tabNews__news-text"><%=   item.newsText %>  </p>
    </div>
</div>





<%-   include("partials/footer");       %>












































